*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Agency FB Bold', arial;
    text-align: center;
}

.navbar {
    background: black ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
   display: flex;
   justify-content: space-between;
   height: 80px;
   z-index: 1;
   width: 100%;
   max-width: 1300px;
   margin: 0 auto; 
   padding: 10px 60px;
}


#navbar__logo {
    background-color: red;
    background-size: 100%;
    width: 16%;
    border-style:solid;
    border-width: 10px;
    border-color: red;
    line-height: 80%;
    -webkit-text-fill-color: white;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.fa-gem {
    margin-right: 2rem;
}

.navbar__menu{
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 6rem;
    height: 100%;
}


.navbar__links:hover{
    text-decoration: underline;
}


@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width:1300px;
        padding: 0; 
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
        background-color: black;
    }

    .navbar__menu.active{
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 2rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }


    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0,3 ease-in-out;
        background: white;
        
    }
    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
        }
    
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* hero section*/
.main{
    background-color: black;
}
.main__container{
    background-color: black;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self:center;
    margin: 0;
    height: 90vh;
    background-color: black;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main__content h1{
    font-size: 4rem;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    font-size: 2rem;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn{
    font-size: 2rem;
    padding: 14px 32px;
    border: none;
    margin-top: 2rem;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main__btn:after {
     position: absolute;
     content: '';
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background: red;
     transition: all 0.35s;
}

.main__btn:hover {
    color: white;
}

.main__btn:after{
    width: 100%;
}


.main__img--container{

}

#main__img{
    max-width: 30%;
    max-height: 30%;
}